  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    background: #060320;
    max-width: 1400px;
    
}
html {
    scroll-behavior: smooth;
  }
  

header{
    position: fixed;
    top: 0;
    width: 100%;
    background: #060320;
    z-index: 1000;
}
.header {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.portfolio h1 {
    font-size: 20px;
    margin: 0;
    font-family: serif;
    font-family: 'Montserrat', sans-serif;
}

.nav p {
    display: inline;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.inst {
    background: #060320;
    color: rgb(170, 0, 255);
    border: 1px solid rgb(170, 0, 255);
    border-radius: 30px;
    padding: 10px 20px;
}
.inst a{
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.inst:hover{
    background: rgb(170, 0, 255);
    transition:  0.3s ease,  0.5s ease;
    
}

.nav a:hover{
    color: rgb(170, 0, 255);
    transition:  0.3s ease;
}


main{
    margin-top: 150px;
}
.cont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}

.left {
    max-width: 500px;
    text-align: left;
}

.right img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.left h1 {
    font-size: 40px;
    margin: 10px 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.left h2 {
    font-size: 24px;
    margin-top: 30px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.left h3{
    color: rgb(170, 0, 255);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    animation: h3 1s forwards;

}

@keyframes h3 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.left p {
    font-size: 20px;
    color: #e0e0e0;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5;
}


.start {
    background: #060320;
    color: rgb(170, 0, 255);
    border: 1px solid rgb(170, 0, 255);
    border-radius: 8px;
    padding: 20px 25%;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}

.start:hover {
    background: rgb(170, 0, 255);
    color: #fff;
    transition: 1s ease;
    transform: scale(1.1);
}

.skills {
    text-align: center;
    color: #fff;
    padding: 50px;
}

.skills h2 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.skills p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    place-items: center;

}

.Lang, .lay, .libs {
    margin-bottom: 30px;
    border: 2px solid rgb(170, 0, 255); 
    border-radius: 10px; 
    padding: 20px; 
    width: 250px; 
    height: 250px;
    box-shadow: 1px 1px 10px rgb(170, 0, 255);

}



h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

button {
    background-color: #060320;
    color: white;
    border: 1px solid rgb(170, 0, 255);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    transition:  0.3s ease, color 0.3s ease;
}

button:hover {
    background: rgb(170, 0, 255);
    color: #fff;
}


.experience h2{
color: #fff;
font-size: 24px;
text-align: center;
font-family: 'Montserrat', sans-serif;

}
.experience h3{
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}
.here{
    display: flex;
    align-items: center;
    justify-content: center;
}
.here a{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.here button{
    background-color: #060320;
    color: white;
    border: 1px solid rgb(170, 0, 255);
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}
.experience button:hover{
    transition: 1s ease;
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(93,9,121,1) 35%, rgba(103,60,168,1) 58%, rgba(31,22,51,1) 100%);

}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.card {
    background-color: #0a0826; 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
    width: 300px;
    height: 350px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s ease;

}

.card img {
width: 200px;
height: 200px;
border-radius: 10px;
}

.card h2 {
    font-size: 20px; 
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

.card p {
    font-size: 16px;
    color: #fff; 
    font-family: 'Montserrat', sans-serif;

}

.fab {
    font-size: 24px; /* Adjust the size of the icons */
    margin-right: 10px; /* Add some spacing between icon and text */
}

.contact{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(42,0,57);
background: linear-gradient(90deg, rgba(42,0,57,1) 0%, rgba(24,0,33,1) 0%, rgba(42,4,62,1) 35%, rgba(49,37,67,1) 58%, rgba(6,3,32,1) 100%);

}
.contact h2{
    margin-top: 100px;
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
   
}
.contact p, a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.contact a:hover{
    color: rgb(170, 0, 255);
background: #060320;
}






.about {
    text-align: center;
    padding: 50px 0;
    background-color: #0a0826;
    border-radius: 10px;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

.about p {
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    color: white;
    font-family: 'Montserrat', sans-serif;
}



